body{
    background-color:rgb(18, 18, 68);
    color: skyblue;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 20px;
    border: 2px solid rgb(52, 76, 121);
    height: 250px;
    background-color: rgb(33, 33, 78);
  }
  .container {
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 170px;
    width: 35%;
    padding: 0 10px; 
  }

.star {
    width: 30px; height: 28px;
    background-color: rgb(52, 76, 121);
    margin-left: 25px;
    margin-top: 25px;
  }
.star {
    transform: rotate(-30deg) skewX(30deg);
  }
.star:before, .star:after {
    position: absolute;
    width: inherit; height: inherit;
    background: inherit;
    content: '';
  
  }
.star:before {
    transform: skewx(-30deg) skewx(-30deg);
  }
.star:after {
    transform: skewx(-30deg) rotate(-60deg) skewx(-30deg);
}

.circleone {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 250px;
    margin-top: -130px;
    background-color: skyblue;
    box-shadow: 0 30px 20px 10px skyblue, 12px 10px 1px 0 skyblue;
  }
  .circletwo {
    height: 105px;
    width: 105px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: -78px;
    margin-left: -60px;
    background-color: rgb(78, 78, 187);
    box-shadow: 30px 0 20px 10px rgb(78, 78, 187), 0 0 10px 0 rgb(78, 78, 187);
  }
  p{
      font-size: 23px;
      font-family:Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      margin-top: 10px;
     margin-left: 80px;
  }
  .vl {
    border-right: 3px solid skyblue;
    padding: 0;
    display: inline-block;
    width: 7px;
    border-radius: 80%;
  }
  #one {
    height: 20px;
    vertical-align :middle;
  }
  #two {
    height: 25px;
    vertical-align:middle;
  }
  #three {
    height: 30px;
    vertical-align: bottom;
  }
  #four {
    height: 35px;
    vertical-align: bottom;
  }
  .icon {
      margin-left: 350px;
  }
  
  .icon {
    float: left;
    width: 60%; 
  }
  @media screen and (max-width: 700px) {
    .circleone, .card, .circletwo {
      width: 50%;
    }
  }

  button {
      margin-left: -250px;
      margin-top: 100px;
     
  }

  .wrapper{
    width: 35px; height: 35px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.678);
    overflow: hidden;
   
  }
 
  .one{
    
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.678);
    height: 35px; width: 18px;
    margin-right: 30px;
    border-right: 2px solid rgba(0, 0, 0, 0.678);
    
  }

  .dark-mode {
    background-color: white;
    color: white;
  }
